.eprofissional {
  position: absolute;
  width: 1100px;
  top: 0;
  left: 12.5rem;
}

.eprofissional h1 {
  font-family: 'sans-serif, Arial,  Helvetica';
  font-size: 3em;
  margin: auto;
  color: #ffffff;
  animation: glowing 3000ms infinite alternate;
}

.rp img {
  width:150px;
  position: absolute;
  left: 1.6rem;
  top: 8.3rem;
  border: 2px solid black;
}

.rp img:hover {
  transform: scale(1.1);
}

.rp h3 {
  font-weight: bold ;
  text-decoration: underline 2px;
  text-align: left;
  line-height: 0;
  margin-top: 6rem;
  margin-left: 12rem;
}

.rp h4 {
  font-weight: bold;
  text-align: left;
  line-height: 0;
  margin-top: 1.3rem;
  margin-left: 12rem;
}

.rp p {
  max-width: 350px;
  font-weight: lighter;
  text-align: left;
  line-height: 1;
  margin-top: 1rem;
  margin-left: 12rem;
}

.chmd img {
  width:150px;
  position: absolute;
  left: 35.6rem;
  top: 8.3rem;
  border: 2px solid black;
}

.chmd img:hover {
  transform: scale(1.1);
}

.chmd h3 {
  font-weight: bold ;
  text-decoration: underline 2px;
  text-align: left;
  line-height: 0;
  margin-top: -23rem;
  margin-left: 46rem;
}

.chmd h4 {
  font-weight: bold;
  text-align: left;
  line-height: 0;
  margin-top: 1.3rem;
  margin-left: 46rem;
}

.chmd p {
  max-width: 350px;
  font-weight: lighter;
  text-align: left;
  line-height: 1;
  margin-top: 1rem;
  margin-left: 46rem;
}
