.menu-lateral {
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #e0ffff 0%,
    #e0ffff 90%,
    #e0ffff 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  border-right: 4px solid #708090;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #87cefa;
  }
  50% {
    text-shadow: 0 0 10px #87ceeb;
  }
  100% {
    text-shadow: 0 0 10px #add8e6;
  }
}
.nick {
  margin: auto;
  color: #ffffff;
  animation: glowing 1000ms infinite alternate;
}

.menu-lateral img {
  position: flex;
  width: 10rem;
  margin-top: 1rem;
  border-radius: 90px;
  border: 2px solid #708090;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  font-size: 10px;
}

.menu-lateral li {
  display: block;
  margin: 0;
}

.menu-lateral a {
  font-size: 18px;
  display: block;
  padding: 10px;
  text-decoration: dashed;
  color: #708090;
}

.menu-lateral a:hover {
  color: #9370db;
  transition: all 0.3s ease-in-out;
  animation: glowing 1000ms infinite alternate;
  transform: scale(1.1);
}

.menu-lateral img:hover {
  transform: scale(1.1);
}
